<!DOCTYPE html>
<html>
<head>
	<title>bæredygtig vanding af marker</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<style>
		body {
			background-color: rgba(1, 108, 162, 0.512);
		}
	</style>
</head>
<body>
	<header>
		<h1>Bæredygtig vanding af marker</h1>
		<nav>
			<ul>
				<li><a href="index">Start</a></li>
				<li><a href="dataside">Dataside</a></li>
				<li><a href="omos">Om os</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Effektivisering og optimering af mark vanding</h2>
            <img src="{{ url_for('static', filename='images/markvandingPIC.jpg') }}" alt="vandder mark" width="400" height="300">
			<p>Når en landmand dyrker afgrøder, kræver det, at afgrøderne får den korrekte mængde vand. Hvis marken får for lidt vand, kan høsten tage skade, og det samme gælder, hvis marken får for meget vand. Da vand er en nødvendig naturressource overalt, er den vigtig og udntte effektivt, specielt i lande/områder hvor mængden af tilgængeligt vand ikke er høj. </p>
		</section>
		<section>
			<h2>Men hvorfor?</h2>
			<p>Fokuset på bærdygtig produktion er de sidste mange år steget væsentligt, og der er i takt med den voksende interesse for en bæredygtig og ren klode, blevet oprettet FN’s 17 verdensmål. Vores opgave bygger på verdensmål 12.2 som omhandler en bæredygtig forvaltning og udnyttelse af naturressourcer. Fokuset er specielt på ulande (Syrien) hvor vi ønsker at optimere brugen af vand i forbindelse med marker.
            </p>
		</section>
		<section>
			<h2>Kontakt</h2>
			<p>Hej</p>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 IoT-2, IT-Teknolog 2.sem</p>
	</footer>
</body>
</html>
