<!DOCTYPE html>
<html>
<head>
    <title>bæredygtig vanding af marker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            background-color: rgba(1, 108, 162, 0.512);
        }
    </style>
</head>
<body>
    <header>
        <h1>Bæredygtig vanding af marker</h1>
        <nav>
            <ul>
                <li><a href="index">Start</a></li>
                <li><a href="dataside">Dataside</a></li>
                <li><a href="omos">Om os</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Om os</h2>
            <p> vi er en gruppe IT-studerende på 2. semester af Københavns erhvervsakademis studieretning, IT-teknolog. Vi beskæftiger os med IT af et bredt omfang (harware, software, servere netværk, mm.), men vi lærer også hvordan man arbejder bedst i teams, hvordan man planlægger/udfører projekter, hvordan man holder møder og meget mere.
            </p>
        </section>
        <section>
            <p></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 IoT-2, IT-Teknolog 2.sem</p>
    </footer>
</body>
</html>
